version: '3'
services: 
    postgres:
        image: 'postgres:latest'
        environment:
            - POSTGRES_DB=postgres
            - POSTGRES_PASSWORD=postgres_password
    redis:
        image: 'redis:latest'
    nginx:
        restart: always
        build: 
            dockerfile: Dockerfile.dev
            context: ./nginx
        image: legperez/multi-nginx
        ports: 
            - '3050:80'
    api:
        build: 
            dockerfile: Dockerfile.dev
            context: ./server
        image: legperez/multi-api
        volumes: 
            - /app/node_modules
            - ./server/app
        environment: 
            - REDIS_HOST=redis
            - REDIS_PORT=6379
            - POSTGRES_USER=postgres
            - POSTGRES_HOST=postgres
            - POSTGRES_DB=postgres
            - POSTGRES_PASSWORD=postgres_password
            - POSTGRES_PORT=5432    
    worker:
        build: 
            dockerfile: Dockerfile.dev
            context: ./worker
        image: legperez/multi-worker
        volumes:
            - /app/node_modules
            - ./worker:/app
        environment:
            - REDIS_HOST=redis
            - REDIS_PORT=6379
    client:
        build: 
            dockerfile: Dockerfile.dev
            context: ./client
        image: legperez/multi-client
        volumes: 
            - /app/node_modules
            - ./client:/app
        #stdin_open: true
